<% content_for :title, "Permission nodes" %>

<%= render 'shared/breadcrumbs' %>
<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Permission nodes</h1>
  <%= link_to "New permission node", new_settings_system_permission_node_path,
              class: "btn btn-primary",
              data: { turbo_frame: "modal" } %>
</div>

<div id="settings_system_permission_nodes">
  <% if @settings_system_permission_nodes.any? %>
    <table class="table" style="border-collapse: separate; border-spacing: 0.5rem;">
      <thead>
      <tr>
        <td class="grid grid-cols-5 gap-0 bg-white">
          <span class="col-span-3">Name</span>
          <span class="col-span-1">Path</span>
          <span class="col-span-1">Actions</span>
        </td>
      </tr>
      </thead>
      <tbody>
      <% @settings_system_permission_nodes.each do |root| %>
        <%= render partial: 'settings/system/permission_nodes/permission_node',
                   locals: { permission_node: root, depth: 0.5 } %>
      <% end %>
      </tbody>
    </table>

  <% else %>
    <p class="text-center my-10">No permission nodes found.</p>
  <% end %>
</div>
